<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pretty calculator</title>
    <link rel="stylesheet" href="./calc.css" type="text/css" />
    <script defer src="./calc.js"></script>
  </head>

  <body>
    <form name="calc" class="wrapper">
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 1"
      >
        1
      </button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 2"
      >
        2
      </button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 3"
      >
        3
      </button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += '+'"
      >
        +
      </button>
      <button type="button" class="btn" onclick="showTrigonometry()">T</button>
      <button
        id="sin"
        style="display: inline"
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 'sin('"
      >
        sin
      </button>
      <button
        id="sqrt"
        style="display: none"
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 'sqrt('"
      >
        √
      </button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 4"
      >
        4
      </button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 5"
      >
        5
      </button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 6"
      >
        6
      </button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += '-'"
      >
        -
      </button>
      <button type="button" class="btn" onclick="showMath()">M</button>
      <button
        id="cos"
        style="display: inline"
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 'cos('"
      >
        cos
      </button>
      <button
        id="^"
        style="display: none"
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += '^'"
      >
        ^
      </button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 7"
      >
        7
      </button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 8"
      >
        8
      </button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 9"
      >
        9
      </button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += '*'"
      >
        *
      </button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += ')'"
      >
        )
      </button>
      <button
        id="tan"
        style="display: inline"
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 'tan('"
      >
        tan
      </button>
      <button
        id="pi"
        style="display: none"
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 'π'"
      >
        π
      </button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 0"
      >
        0
      </button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value = ''"
      >
        clear
      </button>
      <button type="button" class="btn" onclick="backSpace();">del</button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += '/'"
      >
        /
      </button>
      <button
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += '('"
      >
        (
      </button>
      <button
        id="ctg"
        style="display: inline"
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 'ctg('"
      >
        ctg
      </button>
      <button
        id="e"
        style="display: none"
        type="button"
        class="btn"
        onclick="document.getElementById('Bodya').value += 'e'"
      >
        e
      </button>

      <input
        type="text"
        class="result"
        id="Bodya"
        onkeydown="return false;"
      />
      <button
        type="button"
        class="getResult"
        onclick="BodyaSkazavTrebaException();"
      >
        =
      </button>
    </form>
  </body>
</html>
