:root {
  --bg-color: #ffe4d6;
  --btn-color: #facbea;
  --border-color: #d988b9;
  --text-color: #b0578d;
}

.dark-theme {
  --bg-color: #030637;
  --btn-color: #3c0753;
  --border-color: #720455;
  --text-color: #910a67;
}

* {
  box-sizing: border-box;
  /*border: 1px solid black;*/

  font-family: "Times New Roman", serif;
  color: var(--text-color);
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  user-select: none;
}

button {
  width: 5.2rem;
  height: 5.2rem;
  cursor: pointer;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 0.2rem solid var(--border-color);
  box-shadow: 0.8rem 0.8rem var(--border-color);

  padding: 2rem;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.left-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  align-items: center;
}

.right-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
  align-items: center;
}

.btn {
  background-color: var(--btn-color);
  border: 1px solid var(--border-color);
}
.btn:hover {
  background-color: #e3c8d8;
}

.hidden {
  display: none;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.result {
  background-color: var(--btn-color);
  border: none;
  width: 30.4rem;
  height: 5.2rem;
  padding: 0.8rem;

  cursor: default;
}

.btn-res {
  background-color: var(--btn-color);
  border: none;
}

.btn-slider {
  background-color: var(--btn-color);
  width: 8rem;
  height: 4rem;
  border-radius: 8rem;

  position: absolute;
  top: 4vw;
  right: 4vw;

  cursor: pointer;
}

.btn-slider::before {
  background-color: var(--text-color);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 8rem;
  margin: 0.4rem;

  position: absolute;
  content: "";

  transition: 0.2s;
}

input:checked + .btn-slider::before {
  transform: translate(4rem);
}
